.imagen-del-perfil {
    width: 90%;
    max-width: 350px;
    border: 10px solid var(--colorsecundario);
    border-radius: 50%;
    margin-bottom: 22px;
    z-index: 0;
}

.perfil {
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: 800;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    color: var(--colorprincipal);
}

.detalle-perfil {
    font-size: 18px;
    font-weight: 520;
    width: 90%;
    max-width: 450px;
    margin: 15px auto;
}

.cv-fisico {
    background-color: var(--colorprincipal);
    color: var(--colortxtinv);
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 17px;
    box-shadow: 0px 2px 5px;
    cursor: pointer;
}

.cv-fisico:hover {
    filter: brightness(150%);
    transform: scale(1.1);
}

@media (min-width: 1020px) {
    .imagen-del-perfil {
        position: relative;
        width: 100vw;
        border-radius: 22%;
        margin-bottom: 12px;
        transform: scaleX(-1);
        z-index: 0;
    }
    .perfil {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 25px auto;
    }
    .title {
        font-size: 55px;
        font-weight: 800;
        margin: 0;
        font-family: 'Fredoka', sans-serif;
        color: var(--colorprincipal);
    }
    .detalle-perfil {
        font-size: 25px;
        font-weight: 520;
        width: 90%;
        max-width: 450px;
        margin: 15px auto;
    }
    .cv-fisico {
        position: absolute;
        top: 555px;
        left: 35%;
        background-color: var(--colorprincipal);
        color: var(--colortxtinv);
        font-size: 20px;
        font-weight: 400;
        width: 30%;
        height: 50px;
        border: none;
        border-radius: 17px;
        margin-bottom: 25px;
        box-shadow: 0px 2px 5px;
        cursor: pointer;
    }
    .cv-fisico:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}